.services__header {
    background-color: #F2F2F2;
    padding: 97px 0 84px;
}

.services__info {
    padding: 72px 0;
}

.services__info-titles {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 80px;
}

.info-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-2 {
    max-width: 620px;
    margin-bottom: 90px;
}

.form-titles-services {
    text-align: center;
}

.services__list {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.services__form {
    border-radius: 5px;
}

@media screen and (max-width: 451px) {
    .services__info h1 {
        text-align: center;

    }

    .services__info-titles {
        flex-wrap: wrap;
        text-align: center;
    }

    .questions__titles {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 16px;
    }

    .questions__form {
        flex-wrap: wrap;
    }

    .questions__form button {
        width: 100%;
    }

    .mobile__center {
        text-align: center;
        justify-content: center;
    }

    .spec__cards {
        flex: 2;
    }
}

@media screen and (max-width: 451px) {
    .mobile__center {
        text-align: center;
    }

}